/* 初始化样式 */

body,h1,h2,h3,h4,h5,h6,p,ul,li,ol,dl,dt,dd,a,i,em,b,strong,img,input{
	margin: 0px;
	padding: 0px;
}
a{	
	color: #000000;
	target:_self;
	text-decoration: inherit;
}
ul,
ol,
li{
	list-style: none;
}


/* 公共样式 */
.container {
	width: 1200px;
	margin: 0 auto;
}


input {
	background: none;
	/* outline: none; */  /* 处理输入框蓝色边 */
	padding: 0px;
}

.clear:after{
	content: "";
	clear: both;
	display: block;
	height: 0px;
	line-height: 0px;
	visibility: hidden;
}
.clear{
	zoom:l;
}

.fl {
	float: left;
}

.fr {
	float: right;
}



